<p>
  <strong>Name:</strong>
  <%= @reading.name %>
</p>
 
<p>
  <strong>Moisture Level Status:</strong>
  <%= @reading.moisture_level_status %>
</p>

<p>
  <strong>Soil Moisture Status:</strong>
  <%= @reading.soil_moisture_status %>
</p>

<p>
  <strong>Water Pump Status:</strong>
  <%= @reading.water_pump_status %>
</p>